et-xmlfile==2.0.0
mqtt==0.0.1
numpy==1.24.4
openpyxl==3.1.5
paho-mqtt==1.6.1
pandas==2.0.3
plantsim==0.0.3
pywin32==225
python-dateutil==2.9.0.post0
pytz==2025.1
setuptools==41.2.0
six==1.17.0
texttable==1.7.0
tzdata==2025.2